@import "../../../style/mainStyle.scss";
@import "../../../style/mixin.scss";

.servicesPageComponent {
    margin-top: 120px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: px;
}

.servicesPageComponent-title {
    color: $mainDarkColor;
    font-size: 22px;
    text-align: center;
    font-weight: 900;
}