@import "../../../style/mainStyle.scss";
@import "../../../style/mixin.scss";

.infoCards {
  @include addMainContainer($mainLightColor);
  padding-top: 30%;
}

.infoCard-title {
  @include titleForComponent($fontSizeForPC, 900, #21364496);
  @include lightTheme();
}

.infoCard-list {
  display: flex;
  margin-top: $mainMarginTop;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 0px;
}

figure {
  margin: 0;
}

.cardItem-conteiner {
  width: 30%;
  height: 30%;
  box-shadow: 0 6px 20px #21364496;
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  flex-flow: column;
  margin-bottom: 40px;
}

.cardItem-conteiner:nth-last-child(-n + 3) {
  width: 30%;
}

.cardItem-conteiner:hover {
  transform: scale(1.1);
}

.cardItem-link {
  text-decoration: none;
}

.cardItem-img {
  width: $maxWidth;
  display: block;
  max-width: $maxWidth;
  height: $heightForPicture;
  max-height: $maxHeight;
  object-fit: cover;
  transition: all 1s linear;
}
.cardItem-text {
  @include setTextSize(30px, 900);
  @include lightTheme();
  font-style: italic;
  padding: 15px;
  height: 50px;
}

//For mainPage
.cardItem-container-ForMainPage {
  width: 40%;
  height: 150px;
}

.cardItem-container-ForMainPage:nth-last-child(-n + 3) {
  width: 40%;
}

.cardItem-img-ForMainPage {
  width: 100%;
  height: 60%;
}

.cardItem-text-ForMainPage {
  @include setTextSize(100%, 500);
  height: 30px;
}

//For aboutUsPage
.cardItem-container-ForAboutUsPage {
  width: 40%;
  height: 150px;
}

.infoCard-list-ForAboutUsPage {
  margin-top: 20px;
  cursor: pointer;
}

.cardItem-text-ForAboutUsPage {
  @include setTextSize(100%, 500);
  height: 30px;
}

@media screen and (max-width: 1280px) {
  .cardItem-conteiner {
    width: 40%;
  }

  .cardItem-text {
    @include setTextSize(20px, 900);
  }
}

@media screen and (max-width: 1024px) {
  .cardItem-conteiner {
    width: 45%;
  }

  .cardItem-img {
    height: calc(#{$heightForPicture} / 1.5);
  }
}

@media screen and (max-width: 768px) {
  .cardItem-text {
    @include setTextSize(20px, 700);
  }

  .cardItem-conteiner:nth-last-child(-n + 3) {
    width: 45%;
  }
}

@media screen and (max-width: 568px) {
  .infoCard-title {
    @include setTextSize($fontSizeForMobile, 900);
    margin: 0;
  }

  .cardItem-conteiner {
    width: 90%;
  }

  .cardItem-text {
    @include setTextSize(150%, 700);
  }

  .cardItem-conteiner:nth-last-child(-n + 3) {
    width: 90%;
  }

  //For mainPage
  .cardItem-container-ForMainPage:nth-last-child(-n + 3) {
    width: 40%;
  }

  .cardItem-text-ForMainPage {
    @include setTextSize(100%, 700);
    height: 30px;
    padding: 10px;
  }
  .cardItem-container-ForMainPage {
    width: 45%;
    margin-bottom: 30px;
    height: 150px;
  }

  .cardItem-img-ForMainPage {
    width: 100%;
    height: 60%;
  }

  //For aboutUsPage
  .cardItem-container-ForAboutUsPage {
    width: 90%;
    height: 50px;
    border: 1px #003566 solid;
    margin-bottom: 10px;
  }

  .cardItem-text-ForAboutUsPage {
    @include setTextSize(100%, 500);
    height: 30px;
    color: $fourthColor;
  }
}
