@import "../../style/mainStyle.scss";
@import "../../style/mixin.scss";

.infoCards {
  background-color: $mainLightColor;
  padding: $mainPadding;
  padding-top: 50px;
  width: $maxWidth;
}

.infoCard-title {
  @include titleForComponent(#21364496);
  @include lightTheme();
 
}

.infoCard-list {
  display: flex;
  margin-top: $mainMarginTop;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 0px;
}

figure {
  margin: 0;
}

.cardItem-conteiner {
  width: 30%;
  height: 30%;
  box-shadow: 0 6px 20px #21364496;
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  flex-flow: column;
  margin-bottom: $mainMarginBottom;
}

.cardItem-conteiner:nth-last-child(-n + 3) {
  width: 30%;
}

.cardItem-conteiner:hover {
  transform: scale(1.1);
}

.cardItem-img {
  width: $maxWidth;
  display: block;
  max-width: $maxWidth;
  height: $heightForPicture;
  max-height: $maxHeight;
  object-fit: cover;
  transition: all 1s linear;
}

.cardItem-text {
  @include setTextSize(30px, 900);
  @include lightTheme();
  font-style: italic;
  padding: 15px;
}

.cardItem-link {
  text-decoration: none;
}

@media screen and (max-width: 1280px) {
  .cardItem-conteiner {
    width: 40%;
  }

  .cardItem-text {
    @include setTextSize(20px, 900);
  }
}

@media screen and (max-width: 1024px) {
  .cardItem-conteiner {
    width: 45%;
  }

  .cardItem-img {
    height: calc(#{$heightForPicture} / 1.5);
  }
}

@media screen and (max-width: 768px) {
  .cardItem-text {
    @include setTextSize(20px, 700);
  }

  .cardItem-conteiner:nth-last-child(-n + 3) {
    width: 45%;
  }
}

@media screen and (max-width: 568px) {
  .infoCard-title {
    @include setTextSize(150%, 900);
    margin: 0;
    
  }

  .cardItem-conteiner {
    width: 90%;
  }

  .cardItem-text {
    @include setTextSize(150%, 700);
  }

  .cardItem-conteiner:nth-last-child(-n + 3) {
    width: 90%;
  }



}
