@import "../../../../style/mainStyle.scss";
@import "../../../../style/mixin.scss";

.form-input {
    height: 40px;
    border-radius: 8px;
    font-size: 15px;
    padding-left: 10px;
    width: 100%;
    border: 1px solid $mainDarkColor;
    
}

.form-input-withMistake {
    border: 1.5px $fourthColor solid;
}

.formQuoteInput {
    width: 90%;
    margin: 2px auto;
    font-size: 15px;
   
}

.form-message {
    width: 100%;
    height: 150px;
}

.infoMistake {
    color: red;
    font-size: 14px;
    text-align: end;
    width: 100%;
    margin-bottom: 5px;
}

@media screen and (max-width: 1024px) {
    .form-input {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    .form-input {
        font-size: 18px;
        height: $heightInputFor768px;
    }
    .form-message {
        height: 80px;
    }
}

@media screen and (max-width: 480px) {
    .form-input {
        font-size: 15px;
        height: $heightInputFor480px;
    }
    .form-message {
        height: 80px;
    }
}
