@import "../../../style/mainStyle.scss";
@import "../../../style/mixin.scss";

.banner-container {
    width: 100%;
    // height: calc(100vh - #{$heightForHeaderContainer});
    height: 100vh;
    position: relative;
    padding-top: $heightForHeaderContainer;
    background-size: cover;
    background-position: center;
    background-color: #2136444a; /* Semi-transparent black */
    background-image: url("../../../assets/img/johnson-johnson-U6Q6zVDgmSs-unsplash.jpg");
    background-blend-mode: hard-light;
}

.banner-img-block {
    position: absolute;
    // height: 79%;
    height: 81vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    // margin-top: 20%;
}

.banner-h1 {
    @include setTextSize(400%, 900);
    color: red;
    text-shadow:
        0px 0px 5px rgba(255, 255, 255, 1),
        0px 0px 10px rgba(255, 255, 255, 1),
        0px 0px 15px rgba(255, 255, 255, 1);
    padding-top: 5vh;
    padding-left: 6%;
    padding-right: 6%;
    animation-name: opacityOn;
    animation-duration: 2s;
    margin: 0px;
}
@keyframes opacityOn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.banner-img {
    width: 100%;
    text-align: center;
    min-height: 20%;
    min-height: 200px;
    overflow: hidden;
    position: relative;
    bottom: 0%;
    animation: truckSlide 12s ease;
    animation-iteration-count: infinite;
    padding-top: 0px;
    z-index: 1;
}

@keyframes truckSlide {
    0% {
        left: -100%;
    }
    50% {
        left: 0%;
    }

    100% {
        left: 100%;
    }
}

//Test with wheel
.car {
    background-image: url(../../../assets/img/transformTruck/whiteTruckWithoutWheels.png);
    background-repeat: no-repeat;
    background-size: cover;
    // height: 10rem;
    // width: 30rem;
    height: 12rem;
    width: 33rem;
}

.wheel {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.wheel2 {
    background-image: url(../../../assets/img/transformTruck/wheel2.png);
    background-size: contain;
    background-repeat: no-repeat;
    // width: 46px;
    // height: 49px;
    width: 56px;
    height: 59px;
    animation: wheelanimation linear 6s infinite;
    // margin-top: -33px;
    // margin-left: 119px;
    margin-top: -53px;
    margin-left: 130px;
}
.wheel1 {
    background-image: url(../../../assets/img/transformTruck/wheel1.png);
    background-size: cover;
    background-repeat: no-repeat;
    // width: 43px;
    // height: 44px;
    width: 53px;
    height: 54px;
    animation: wheelanimation linear 3s infinite;
    // margin-top: -33px;
    // margin-left: 246px;
    margin-top: -53px;
    margin-left: 263px;
}

@keyframes wheelanimation {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.askPriceStyle {
    width: 33%;
    transform: translate(205%, 25%);
    border-radius: 5px;
    height: 75%;
    z-index: 100;
}

@media screen and (max-width: 1080px){
    .banner-container {
        height: calc(100vh - 5vh);
    }
    .banner-img-block {
        height: 57vh;
    }
    .banner-h1 {
        @include setTextSize(400%, 700);
        padding-top: 40px;
    }
    .car {
        height: 10rem;
        width: 30rem;
    }
    .wheel2 {
        width: 46px;
        height: 49px;
        margin-top: -33px;
        margin-left: 119px;
    }
    .wheel1 {
        width: 43px;
        height: 44px;
        margin-top: -33px;
        margin-left: 246px;
    }

}

@media screen and (max-width: 1023px) {
    .banner-container {
        height: calc(100vh - 5vh);
    }

    .banner-img-block {
        height: 64vh;
    }

    .askPriceStyle {
        text-align: center;
        width: 100%;
        transform: none;
    }
    .banner-h1 {
        @include setTextSize(400%, 700);
        padding-top: 70px;
    }

    .banner-img {
        padding-top: 30px;
    }

    // .car {
    //     height: 10rem;
    //     width: 30rem;
    // }
    // .wheel2 {
    //     width: 46px;
    //     height: 49px;
    //     margin-top: -33px;
    //     margin-left: 119px;
    // }
    // .wheel1 {
    //     width: 43px;
    //     height: 44px;
    //     margin-top: -33px;
    //     margin-left: 246px;
    // }
}

@media screen and (max-width: 768px) {
    .banner-img {
        animation: truckSlide 8s ease;
        animation-iteration-count: infinite;
    }
    .banner-h1 {
        @include setTextSize(350%, 700);
        padding-top: 70px;
    }
}

@media screen and (max-width: 480px) {
    .banner-container {
        height: calc(100vh - 5vh - #{$heightForHeaderContainer});
        height: calc(100vh - 5vh);
    }
    .banner-img-block {
        height: 70vh;
    }
    .banner-h1 {
        @include setTextSize(250%, 700);
        // padding-top: 50px;
        padding-top: 5%;
    }
    .banner-img {
        overflow: visible;
        width: auto;
        min-height: 190px;
    }
    .car {
        height: 9rem;
        width: 24rem;
    }
    .wheel {
        margin-top: -36px;
    }

    .wheel1 {
        margin-top: -7px;
        margin-left: 188px;
        padding-left: 42px;
    }

    .wheel2 {
        margin-top: -7px;
        margin-left: 94px;
        padding-left: 42px;
    }
}

@media screen and (max-width: 380px) {
    .banner-h1 {
        @include setTextSize(210%, 700);
    }
    .car {
        height: 7.699rem;
        width: 22rem;
    }
    .wheel {
        margin-top: -34px;
    }

    .wheel1 {
        margin-top: -1px;
        margin-left: 173px;
        padding-left: 42px;
    }

    .wheel2 {
        margin-top: -2px;
        margin-left: 81px;
        padding-left: 42px;
    }
}

// @media screen and(max-height: 601px){
//     .banner-container{
//         height: 1000px;
//     }

// };

@media (max-height: 801px) and (orientation: landscape) {
    .askPriceStyle {
        transform: translate(190%, 0%);
    }
}

@media (max-height: 601px) and (orientation: landscape) {
    .banner-container {
        height: 700px;
    }
    .banner-h1 {
        padding-top: 30px;
    }

    .banner-img-block {
        height: 100vh;
    }

    .askPriceStyle {
        transform: translate(185%, 10%);
    }
 

}

@media (orientation: landscape) {
    .banner-img {
        bottom: 1%;
    }
    .scroll-btn {
        bottom: 1%;
    }

    
}

