@import "../../../../style/mainStyle.scss";
@import "../../../../style/mixin.scss";

.blockForMovingStep {
  position: relative;
  width: 77%;
  opacity: 1;
  cursor: pointer;
  height: 100px;
  border-radius: 5px;
  border: $mainDarkColor solid 2px;
  text-align: center;
  // @include setTextSize(110%, 700);
  font-style: italic;
  color: $fourthColor;
  line-height: 1.2;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.blockForMovingStep:hover .front {
  transform: perspective(600px) rotateY(-180deg);


}

.blockForMovingStep:hover .back {
  transform: perspective(600px) rotateY(0);
}

.front,
.back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: transform 0.5s ease;
  border-radius: 12px;
}

.front {
  transform: perspective(600px) rotateY(0);
  font-size: 25px;
  padding: 20px;
}

.back {
  transform: perspective(600px) rotateY(180deg);
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 13px;
  padding-left: 5px;
  color: $mainDarkColor;
}
