@import "../../../style/mainStyle.scss";
@import "../../../style/mixin.scss";

.nav-block {
    height: $heightForHeaderContainer;
    // background-color: $mainDarkColor;
    @include addMainFlex(row, $maxWidth);
    position: fixed;
    top: 0;
    z-index: 999;
    backdrop-filter: blur(30px);
    box-shadow:
        #0a58ca99 0px 6px 24px 0px,
        #0035660f 0px 0px 0px 1px;
    background-color: $mainLightColorTransp;
}

.nav-logo {
    // margin-left: 10px;
    position: fixed;
    width: 170px;
}

.nav-img {
    height: 75px;
    object-fit: cover;
    width: 100%;
}

.menuBtn {
    display: none;
}
.phoneBtn {
    display: none;
}

.menuIcon {
    font-size: 30px;
    // color: $mainLightColor;
    color: $mainDarkColor;
    transition: $mainDarkColor 0.3s;
}

.bi:hover {
    color: $fourthColor;
}

.bi-telephone-fill {
    margin-right: 30px;
    float: right;
    transform: rotateY(180deg);
}

.nav-menu {
    @include addMainFlex(row, $maxWidth/1.3);
    list-style: none;
    justify-content: flex-end;
    height: $heightForHeader;
    padding: 0px;
}

.nav-menu-li {
    min-width: 120px;
    padding-top: 30px;
    text-align: center;
    border-bottom: 2px solid rgba(23, 37, 78, 0.6);
}

.nav-menu-li:hover {
    @include addMainHoverAction();
}

.nav-menu-item {
    @include setbtnSize(20px, 900, 190px);
    text-decoration: none;
    color: $mainLightColor;
    color: $mainDarkColor;
}

.nav-menu-item:hover {
    color: $mainLightColor;
    border-bottom: 4px solid $mainLightColor;
    transition: all 0.5s ease-out;
}

.nav-links-mobile {
    display: none;
}

.phoneNumberStyle {
    margin-right: 3%;
}

.visiblePhoneNumber:hover {
    @include addLightTheme();
}

@media screen and (max-width: 1280px) {
    .phoneNumberStyle {
        margin-right: 3%;
    }
    .nav-menu-li {
        min-width: 100px;
    }

    .nav-menu-item {
        @include setbtnSize(18px, 800, 150px);
    }

    .visiblePhoneNumber {
        @include setbtnSize(18px, 500, 170px);
    }

    .visiblePhoneNumber:hover {
        @include addLightTheme();
    }
}

@media screen and (max-width: 1024px) {
    .menuBtn {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .nav-menu {
        display: none;
    }

    .nav-menu.active {
        // background: $mainDarkColor;
        left: 0;
        @include addMainFlex(column, $maxWidth);
        height: 100vh;
        position: absolute;
        top: 90px;
        opacity: 1;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 0px;
        padding-top: 50px;
        box-shadow:
            #0a58ca99 0px 6px 24px 0px,
            #0035660f 0px 0px 0px 1px;
        background-color: $mainLightColor;
    }

    .nav-menu-li {
        height: $heightForHeader;
        width: 80%;
    }
}

//For mobile device
@media screen and (max-width: 640px) {
    .phoneBtn {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .bi:active {
        color: $fourthColor;
    }

    .bi:not(:active) {
        color: $mainDarkColor;
    }
    .visiblePhoneNumber {
        @include setbtnSize(15px, 500, 150px);
    }

    .phoneNumberStyle {
        margin-left: -55px;
    }
}
