@import "../../../style/mainStyle.scss";
@import "../../../style/mixin.scss";

.aboutUsComponent {
    // margin-top: 120px;
    // margin-left: 20px;
    // margin-right: 20px;
    margin: 120px 20px 20px 20px;
    font-size: 18px;
}

.aboutUs-title {
    color: $mainDarkColor;
    font-size: 22px;
    text-align: center;
    font-weight: 900;
}

.highlight {
    color: $mainDarkColor;
    font-weight: 700;
}

.highlightRed {
    color: $fourthColor;
    font-weight: 700;
}

.itemListAboutUs {
    display: flex;
    flex-direction: row;
}

.iconStyleForAboutUs {
    color: red;
    margin: auto;
}

.chosenIcon {
    background-color: $mainDarkColor;
}

.blockForInformationFromIcon {
    margin-top: 20px;
}

.movingStep-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.moveToRight {
    margin-left: 30%;
}

.arrowStyle {
    width: 30%;
    height: 50px;
    margin-left: 20%;
}

.moveToRightArrow {
    margin-left: 50%;
}
