@import "../../style/mainStyle.scss";
@import "../../style/mixin.scss";

.btnMain {
  border-radius: 8px;
  outline: none !important;
  border: none;
  cursor: pointer;
  font-size: $mainFontSize;
  font-weight: bold;

}

.btnMain:focus {
  outline: none;
  box-shadow: none;
}

//Hover
.btnMain:hover {
 @include addMainHoverAction();
 background-color: $mainDarkColor;
}

.btn-darkHoverTheme:hover{
  @include addDarkTheme();
}

.btn-lightHoverTheme:hover{
  @include addLightTheme();
}



//Color
.btn-light {
  @include lightTheme();
}

.btn-dark {
  @include darkTheme();

}

.btn-red{
  background-color: $fourthColor;
  color: $mainLightColor;
}

//Style
.btn-transparent{
  @include setTranspareentBackgrForBTN();
}

//Border
.btn-border-dark{
  @include addBorder($mainDarkColor);
}

.btn-border-light{
  @include addBorder($mainLightColor);
}

//Form
.btn-circle{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  @include setbtnSize(30px, 900, 0);
}





// Size
.btn-large {
  @include setbtnSize(20px, 900, 190px);
}

.btn-medium {
  @include setbtnSize(18px, 700, 150px);
}

.btn-small {
  @include setbtnSize(16px, 500, 70px);
}






