@import "../../../style/mainStyle.scss";
@import "../../../style/mixin.scss";

.nav-block {
    height: $heightForHeaderContainer;
    @include addMainFlex(row, $maxWidth);
    position: fixed;
    top: 0;
    z-index: 999;
    backdrop-filter: blur(30px);
    box-shadow:
        #0a58ca99 0px 6px 24px 0px,
        #0035660f 0px 0px 0px 1px;
    background-color: $mainLightColorTransp;
}

.nav-logo {
    width: 170px;
}

.nav-img {
    height: 75px;
    object-fit: cover;
    width: 100%;
}

.nav-menu {
    @include addMainFlex(row, 60%);
    list-style: none;
    justify-content: flex-end;
    height: $heightForHeader;
    padding: 0px;
    margin-left: 100px;
}

.nav-menu-li {
    padding-top: 30px;
    text-align: center;
    min-width: 80px;
    margin-right: 20px;
}

.nav-menu-item {
    @include setbtnSize(20px, 900, 100px);
    text-decoration: none;
    color: $mainDarkColor;
}

.nav-menu-item:hover {
    color: $mainDarkColor;
    border-bottom: 3px solid $mainDarkColor;
    transition: all 0.5s ease-out;
}

.nav-links-mobile {
    display: none;
}
.menuBtn {
    display: none;
}

.phoneBtn {
    display: none;
}

.menuIcon {
    font-size: 30px;
    color: $mainDarkColor;
    transition: $mainDarkColor 0.3s;
}

.bi:hover {
    color: $fourthColor;
}

.bi-telephone-fill {
    margin-right: 30px;
    float: right;
    transform: rotateY(180deg);
}
.phoneNumberStyle {
    margin-top: 15px;
    margin-left: 50px;
}

.visiblePhoneNumber {
    background-color: transparent;
    color: $mainDarkColor;
    border: 2px solid $mainDarkColor;
}

.visiblePhoneNumber:hover {
    @include addLightTheme();
    background-color: transparent;
    border: 2px solid $mainDarkColor;
}

//For tab
@media screen and (max-width: 1280px) {
    .nav-menu-li {
        margin-right: 15px;
    }
    .nav-menu-item {
        @include setTextSize(18px, 800);
    }
    .phoneNumberStyle {
        margin-left: 10px;
    }

}

@media screen and (max-width: 1024px) {
    .nav-img {
        width: 150px;
    }

    .nav-menu {
        margin-left: 30px;
    }
    .nav-menu-li {
        margin-right: 15px;
        min-width: 60px;
    }
    .nav-menu-item {
        @include setTextSize(15px, 800);
    }

    .phoneNumberStyle {
        margin-left: 10px;
    }

    .visiblePhoneNumber {
        font-size: 13px;
        min-width: 120px;
    }
}

@media screen and (max-width: 768px) {
    .menuBtn {
        display: block;
        position: absolute;
        top: -10px;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .nav-menu {
        display: none;
    }

    .nav-menu.active {
        left: 0;
        @include addMainFlex(column, $maxWidth);
        height: 100vh;
        position: absolute;
        top: 70px;
        opacity: 1;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 0px;
        margin-left: 0px;
        padding-top: 50px;
        box-shadow:
            #0a58ca99 0px 6px 24px 0px,
            #0035660f 0px 0px 0px 1px;
        background-color: $mainLightColor;
    }

    .nav-menu-li {
        height: $heightForHeader;
        width: 80%;
        border-bottom: 2px solid rgba(23, 37, 78, 0.6);
    }

    .biNavbar:active {
        color: $fourthColor;
    }

    .biNavbar:not(:active) {
        color: $mainDarkColor;
    }
    .visiblePhoneNumber {
        @include setbtnSize(15px, 500, 150px);
        margin-left: 50px;
        margin-right: 20px;
    }
}

//For mobile device
@media screen and (max-width: 480px) {
    .phoneBtn {
        display: block;
        position: absolute;
        top: -10px;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    .phoneNumberStyle {
        margin-left: -55px;
    }
}

@media screen and (max-width: 375px){
    .menuBtn{
        right: -15px;
    }
    .phoneBtn{
        right: -40px;
    }

    .menuIcon{
        font-size: 27px;
    }
    .nav-menu.active{
        padding-top: 15px;
    }
}