@import "../../../style/mainStyle.scss";
@import "../../../style/mixin.scss";

.quoteFullForm {
    @include form($mainLightColor, 90%, 100%);
    background-color: rgba(255, 255, 255, 0.9);
    padding-bottom: 20px;
    display: grid;
    grid-template-rows: repeat(3, minmax(50px, 70px)) 100px repeat(2,minmax(50px,70px)) 100px 100px;
    grid-template-columns: 1fr;
    grid-column-gap: 1%;
    grid-row-gap: 2%;
    grid-template-areas:
        "inputFrom"
        "inputTo"
        "chooseMovingType"
        "residenceType"
        "bedroomQuantity"
        "floor"
        "truckSize"
        "movers"
        "hours";
}
