//Color
$mainDarkColor: #213644;
$mainLightColor: white;
$thirdColor: #E7B427;


// Width
$maxWidth:100%;

// Height
$heightForHeader:75px;
$heightForHeaderContainer:90px;


//Font
$mainFontSize:20px;


