//Color
$mainDarkColor: #213644;
$mainLightColor: white;
$thirdColor: #E7B427;


// Width
$maxWidth:100%;


// Height
$maxHeight:100%;
$heightForHeader:75px;
$heightForHeaderContainer:90px;
$heightForPicture:250px;


//Font
$mainFontSize:20px;

$mainPadding: 50px 30px 10px 30px;

$mainMarginTop:50px;
$mainMarginBottom:70px;