//Color
$mainDarkColor: #003566;
$mainDarkColorTransp:#00356653;
$mainLightColor: white;
$mainLightColorTransp:#ffffffdb;
$thirdColor: #E7B427;
$fourthColor:#ff0000;
$colorTruckLogo:#003566;
$formColor: rgba(255, 255, 255, 0.514);



// $mainDarkColor: #213644;
// $mainLightColor: white;
// $thirdColor: #E7B427;
// $colorTruckLogo:#003566;


// Width
$maxWidth:100%;
$widthFotTruck:100%;


// Height
$maxHeight:100%;
$heightForHeader:75px;
$heightForHeaderContainer:90px;
$heightForPicture:250px;
$heightForTruckPicture:650px;


//Font
$mainFontSize:20px;

$mainPadding: 50px 30px 10px 30px;

$mainMarginTop:50px;
$mainMarginBottom:70px;

//Text
$fontSizeForPC:250%;
$fontSizeForMobile:200%;
$fontSizeForMini:150%;

