@import "./mainStyle.scss";


@mixin setbtnSize($fontSize, $fontWeight, $minWidth){
    font-size: $fontSize;
    font-weight: $fontWeight;
    min-width: $minWidth;
}

@mixin darkTheme(){
    color: $mainLightColor;
    background-color: $mainDarkColor;
}

@mixin lightTheme(){
    color: $mainDarkColor;
    background-color: $mainLightColor;
}




// @mixin addBorderToBtn($fontColor) {
//     border: 2px solid $fontColor;
// }

@mixin addMainHoverAction() {
    transition: all 1s ease-out;
    transition: 250ms;
    transform: scale(1.1);
}

@mixin addMainFlex($direction, $width) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    width: $width;
}

@mixin addTextStyleForName($fontSize){
    font-size: $fontSize;
    font-weight: bold;
}

// @mixin formEl($width, $mainBorderRadius, $mainActiveFontColor) {
//     width: $width;
//     min-height: 50px;
//     border-radius: $mainBorderRadius;
//     box-shadow:
//         rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
//         rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
//     margin: 20px auto;
//     color: $mainActiveFontColor;
//     font-size: 30px;
//     text-align: center;
// }

// @mixin formForList($fontColor, $fontSize, $height){
//     margin-top: -22px;
//     @include addBorderToBtn($fontColor);
//     border-top: none;
//     padding: 10px;
//     text-align: left;
//     font-size: $fontSize;
//     height: $height;
//     position: sticky;
//     overflow: scroll;
//     overflow-x: hidden;
//     overflow-y: hidden;
// }