@import "../../../style/mainStyle.scss";
@import "../../../style/mixin.scss";

.infoCards {
  @include addMainContainer($mainLightColor);
}

.infoCard-title {
  @include titleForComponent($fontSizeForPC, 900, #21364496);
  @include lightTheme();
  padding: 10px 10px;
}

.infoCard-list {
  display: flex;
  margin-top: $mainMarginTop;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 0px;
}

figure {
  margin: 0;
}

.cardItem-conteiner {
  width: 30%;
  height: 30%;
  box-shadow: 0 6px 20px #21364496;
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  flex-flow: column;
  margin-bottom: 40px;
}

.cardItem-conteiner:nth-last-child(-n + 3) {
  width: 30%;
}

.cardItem-conteiner:hover {
  transform: scale(1.1);
}

.cardItem-link {
  text-decoration: none;
}

.cardItem-img {
  width: $maxWidth;
  // display: block;
  max-width: $maxWidth;
  height: $heightForPicture;
  max-height: $maxHeight;
  object-fit: cover;
  transition: all 1s linear;
}
.cardItem-text {
  @include setTextSize(30px, 900);
  @include lightTheme();
  font-style: italic;
  padding: 15px;
  height: 50px;
}

@media screen and (max-width: 1240px){
  .cardItem-text{
    @include setTextSize(23px, 900);
  }

}

@media screen and (max-width: 940px){
  .cardItem-text{
    @include setTextSize(18px, 900);
  }

}


@media screen and (max-width: 480px){
  .cardItem-conteiner {
    width: 90%;
    height: 20%;
    max-height: 250px;
  }

  .cardItem-img {
    max-height: 150px;
  }

  .cardItem-conteiner:nth-last-child(-n + 3) {
    width: 90%;
  }



}
