@import "../../../style/mainStyle.scss";
@import "../../../style/mixin.scss";

.contactUsForDetails {
    color: red;
  
}

.highlight{
    text-decoration: underline;
    cursor: pointer;
}

.sectionForForm{
    margin: 20px;
}