@import "../../../style/mainStyle.scss";
@import "../../../style/mixin.scss";

.chossenItemSpan {
    font-size: 15px;
    background-color: white;
    border-radius: 8px;
    border: 2px solid #42df4a;
    height: 50px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 700;
    width: 95%;
    margin: auto;
}

.chossenItemFromSelected {
    width: 97%;
}

.iconList {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.iconListFor3:not(:first-child) {
    margin-left: -9px;
}

.iconListFor4:not(:first-child) {
    margin-left: -16px;
}

.iconListFor5:not(:first-child) {
    margin-left: -19px;
}

.quoteInputLine {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    font-size: 18px;
    width: 95%;
    margin: 10px 5px;
    font-weight: 500;
}

.inputName {
    font-weight: 900;
    width: 30%;
    color: $fourthColor;
}

.chooseType {
    grid-area: chooseMovingType;
    display: flex;
    flex-direction: row;
    height: 37px;
    border: 1.5px solid #213644;
    // width: 90%;
    margin: 0 auto;
    border-radius: 8px;
    font-size: 15px;
    padding-left: 10px;
    background-color: $mainLightColor;
}

.chooseTypeFullForm {
    width: 97%;
}

.chooseName {
    margin: auto 0;
    text-align: left;
}

.chooseNameWidth {
    width: 80%;
}

//Spinner
.spinnerStyle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-width: 0.05em;
    margin-top: 10px;
    margin-left:-30px

    
}

//Icon
.bi-caret-down-fill {
    color: #213644;
    font-size: 25px;
    margin-left: 30%;
    width: 20%;
}

.biWidth {
    margin-left: 80%;
}

.iconType {
    color: $mainDarkColor;
}

.iconType:hover {
    color: $mainDarkColor;
}

.chooseName:hover {
    background-color: $fourthColor;
}

.adContainerForQuote {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.type {
    display: flex;
    flex-direction: column;
    margin: 1%;
    text-align: center;
    border: 2px solid $mainDarkColor;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    box-shadow:
        rgba(0, 0, 0, 0.09) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.typeWidthForSix {
    width: 31%;
    max-width: 250px;
}
.typeWidthForFour {
    width: 26%;
    max-width: 250px;
}

.typeWidthForThree {
    width: 29%;
    max-width: 250px;
}

.typeChoosen {
    background-color: #d9484854;
}

.spanChoosenItem {
    // color: $fourthColor;
    color: $mainDarkColor;
    font-size: 18px;
    font-weight: 700;
}

//Button
.submitBTN {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    grid-area: submitBTN;
}

.infoSuccess {
    color: rgb(13, 156, 13);
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

//name for frid-area
.inputFrom {
    grid-area: inputFrom;
}

.inputTo {
    grid-area: inputTo;
}

.inputMessage {
    grid-area: inputMessage;
}

.residenceType {
    grid-area: residenceType;
}

.residenceType:empty {
    display: none;
}

.bedroomQuantity {
    grid-area: bedroomQuantity;
}

.bedroomQuantity:empty {
    display: none;
}

.floor {
    grid-area: floor;
}

.floor:empty {
    display: none;
}

.truckSize {
    grid-area: truckSize;
}

.movers {
    grid-area: movers;
}

.hours {
    grid-area: hours;
}

//FloorForm
.floorForm-component {
    display: flex;
    flex-direction: row;
}

.floor-input input {
    height: 30px;
    margin-left: 20px;
    width: 70px;
    border: 1px solid $mainDarkColor;
    text-align: center;
    color: $fourthColor;
    font-weight: 900;
    padding-left: 0px;
}

.formForChooseTypeOfForm {
    display: flex;
    flex-wrap: wrap;
    grid-area: formForChooseTypeOfForm;
    margin-bottom: 10px;
}

.formForChooseTypeOfForm div {
    margin: auto;
}

.formForChooseTypeOfForm input {
    height: 15px;
}

.formForChooseTypeOfForm span {
    margin: 7px;
    size: 18px;
}

//Button submit
.getQuoteBtn {
    border-radius: 8px;
    outline: none !important;
    cursor: pointer;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: 900;
    min-width: 190px;
    border: 2px solid white;
    text-decoration: none;
    display: inline-block;
}

.getEstimQuoteContainer {
    text-align: center;
    margin-top: 30px;
    width: 100%;
}

.getEstimQuoteBtn {
    border-radius: 8px;
    outline: none !important;
    cursor: pointer;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: 900;
    min-width: 190px;
    border: 2px solid #213644b5;
    text-decoration: none;
    display: inline-block;
}

@media screen and (max-width: 1024px) {
    .getQuoteBtn {
        margin-top: 20px;
    }
}

@media screen and (max-width: 950px) {
    .adContainerForQuote {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .chooseType {
        height: $heightInputFor768px;
    }
    .getQuoteBtn {
        height: 40px;
        font-size: 25px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    .chooseType {
        height: $heightInputFor480px;
    }

    .getQuoteBtn {
        height: 40px;
        font-size: 20px;
    }
}
