@import "../../style/mainStyle.scss";
@import "../../style/mixin.scss";

.banner-container {
    width: 100%;
    height: calc(100vh - #{$heightForHeaderContainer});
    background-color: $mainDarkColor;
    position: relative;
    margin-top: $heightForHeaderContainer;
    
}
.banner-h1 {
    @include setTextSize(400%, 900);
    @include darkTheme();
    color: $thirdColor;
    padding-top: 20px;
    padding-left: 6%;
    padding-right: 6%;
    text-shadow: #edcc068a 1px 0 5px;
    animation-name: opacityOn;
    animation-duration: 1s;
    margin: 0px;
    height: 15%;
}

.banner-img {
    position: absolute;
    width: 100%;
    height: calc(85% - 80px - 20px);
    object-fit: cover;
    bottom: 80px;
    animation: truckSlide 5s normal;
    text-align: center;
    margin-top: 20px;
   
}

@keyframes truckSlide {
    0% {
        left: -100%;
    }
    100% {
        left: calc(100% - 100%);
    }
}

.banner-img img {
    position: absolute;
    overflow: hidden;
    width: calc(#{$widthFotTruck} - 30px - 30px);
    bottom: 3%;
    left: 20px;
    right: 20px;
    height: calc(100% - 5% - 5%);
}

@keyframes opacityOn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.askPriceStyle {
    position: absolute;
    top: 3%;
    left: 5%;
    width: 33%;
    transform: translate(7%, 30%);
    border-radius: 5px;
    height: 40%;
}

.askPriceStyle h2 {
    @include setTextSize(330%, 700);
    color: $colorTruckLogo;
}

.clickMe {
    background-color: $colorTruckLogo;
    animation: pulse 2s infinite;
}

.scroll-btn {
    position: absolute;
    bottom: 20px;
    right: 47%;
    left: 47%;
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 $mainDarkColor;
        box-shadow: 0 0 0 0 $thirdColor;
    }
    70% {
        -moz-box-shadow: 0 0 0 10px $mainDarkColor;
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 0 0 0 0 $mainDarkColor;
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@media screen and (max-width: 1460px) {
    .askPriceStyle {
        top: 4%;
      
    }

    .askPriceStyle h2 {
        @include setTextSize(250%, 700);
    }
}

@media screen and (max-width: 1280px) {
    .banner-h1 {
        padding-left: 5%;
        padding-right: 5%;
        height: 20%;
    }

    .banner-img {
        height: calc(75% - 80px - 20px);
    }

    .askPriceStyle {
        left: 3%;
        transform: translate(15%, 40%);
    }

    .askPriceStyle h2 {
        @include setTextSize(200%, 700);
    }
}

@media screen and (max-width: 1024px) {
    .banner-img img {
        bottom: auto;
        height: calc(65% - 5% - 5%);
    }

    .askPriceStyle {
        text-align: center;
        width: 90%;
        right: 5%;
        transform: none;
        bottom: 10%;
        top: auto;
        height: auto;
    }

    .askPriceStyle h2 {
        @include setTextSize(250%, 700);
        color: $thirdColor;
        margin-bottom: 30px;
    }

    .clickMe {
        background-color: $mainLightColor;
        color: $mainDarkColor;
    }

    .clickMe:hover {
        background-color: $mainLightColor;
        color: $mainDarkColor;
    }
}

@media screen and (max-width: 768px) {
    .banner-h1 {
        @include setTextSize(300%, 700);
        
    }

    .banner-img img {
        height: calc(55% - 5% - 5%);
    }

    .askPriceStyle h2 {
        @include setTextSize(200%, 500);
    }
}

@media screen and (max-width: 480px) {
    .banner-container {
        height: calc(100vh - 5vh - #{$heightForHeaderContainer});       
    }
    .banner-h1 {
        @include setTextSize(250%, 500);
    }

    .askPriceStyle h2 {
        @include setTextSize(150%, 300);
    }
}

@media screen and (max-width: 320px) {
    .banner-h1 {
        @include setTextSize(150%, 500);
    }

    .askPriceStyle h2 {
        @include setTextSize(20px, 500);
    }
}


@media screen and(max-height: 601px){
    .banner-container{
        height: 1000px;
    }

};



@media screen and(min-height: 1024px){
    .banner-img img {
        height: calc(50% - 5% - 5%);
        top: 5%;
    }
};


