@import "../../style/mainStyle.scss";
@import "../../style/mixin.scss";

.hidden {
    width: 100%;
    z-index: 100;
    position: fixed;
    top: -100vh;
    transition: 0.5s linear;
}

.banner-container {
    width: 100%;
    height: 100vh;
    background-color: $mainDarkColor;
    position: relative;
}
.banner-h1 {
    @include setTextSize(350%, 900);
    @include darkTheme();
    padding-top: 150px;
    padding-left: 6%;
    padding-right: 6%;
    text-shadow: #edcc068a 1px 0 5px;
    animation-name: opacityOn;
    animation-duration: 1s;
    margin: 0px;
}

.banner-img {
    position: absolute;
    width: 100%;
    height: 70%;
    object-fit: cover;
    bottom: 0;
    animation: truckSlide 5s normal;
    text-align: center;
    margin-top: 20px;
}

@keyframes truckSlide {
    0% {
        left: -100%;
    }
    100% {
        left: calc(100% - 100%);
    }
}

.banner-img img {
    position: absolute;
    overflow: hidden;
    width: $widthFotTruck;
    height: calc(#{$widthFotTruck} * 1);
    bottom: 5%;
    left: 5%;
    right: 5%;
}

@keyframes opacityOn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.askPriceStyle {
    position: absolute;
    top: 17%;
    left: 15%;
    width: 50%;
}

.askPriceStyle h2 {
    @include setTextSize(60px, 700);
}

.callout-banner {
    background-color: yellow;
    padding: 1rem;
}

@media screen and (max-width: 1280px) {
    .banner-img img {
        height: calc(#{$widthFotTruck} * 0.93);
    }

    .banner-h1 {
        padding-left: 5%;
        padding-right: 5%;
    }

    .askPriceStyle h2 {
        @include setTextSize(40px, 700);
    }
}

@media screen and (max-width: 1024px) {
    .banner-h1 {
        padding-top: 170px;
    }

    .banner-img {
        height: calc(#{$widthFotTruck} * 0.6);
    }

    .askPriceStyle {
        top: 20%;
        left: 8%;
        width: 60%;
    }

    .askPriceStyle h2 {
        @include setTextSize(40px, 700);
    }
}

@media screen and (max-width: 768px) {
    .banner-h1 {
        @include setTextSize(250%, 700);
        padding-top: 25vw;
    }

    .banner-img img {
        height: 60%;
        width: 80%;
        bottom: 50%;
        left: 10%;
        right: 10%;
    }

    .askPriceStyle {
        text-align: center;
        width: 90%;
        top: 50%;
        left: 10%;
        right: 10%;
        
    }

    .askPriceStyle h2 {
        color: $thirdColor;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 480px) {
    .banner-h1 {
        @include setTextSize(200%, 500);
        padding-top: 40vw;
    }


    .banner-img img {
        height: 50%;
        bottom: 60%;

    }

    .askPriceStyle h2 {
        color: $thirdColor;
        @include setTextSize(30px, 500);
    }
}
